SQLAlchemy==1.4.28
SQLAlchemy-serializer==1.4.1
tornado==6.1
tornado-sqlalchemy==0.7.0
bcrypt==3.2.0
basicauth==0.4.1
selenium==4.1.0
psutil==5.8.0
pynubank==2.17.0
requests==2.26.0
websockets==10.1
httplib2==0.20.2
jsmin==3.0.0
pyadbautomator==0.0.8
SimpleWebSocketServer==0.1.1
pybancodobrasil==0.0.3
pycaixafederal==0.0.4
pybancointer==0.0.1
pybancodobrasil==0.0.3