SQLAlchemy==1.4.36
SQLAlchemy-serializer==1.4.1
tornado==6.1
tornado-sqlalchemy==0.7.0
bcrypt==3.2.2
basicauth==0.4.1
selenium==4.1.3
psutil==5.9.0
pynubank==2.17.0
requests==2.27.1
websockets==10.3
httplib2==0.20.4
jsmin==3.0.1
pyadbautomator==0.0.8
SimpleWebSocketServer==0.1.1
pybancodobrasil==0.2.1
pycaixafederal==0.0.4
pybancointer==0.0.1
pybancodobrasil==0.2.1