{% extends "../../templates/layouts/index.html" %}
{% block title %}Login{% end %}
{% block content %}
 <md-content md-theme="docs-dark" layout-padding ng-controller="loginCtrl">
    <form name="form" novalidate>
        <md-input-container class="md-icon-float md-block">
            <label>
                Username:
            </label>
            <input name="username" type="text" ng-model="user.username" ng-minlength="5" ng-required="true"/>
            <div ng-messages="form.username.$error" multiple md-auto-hide="false">
                <div ng-message="minlength">Please enter atleast 5 characters</div>
                <div ng-message="required">The value is required!</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Password:</label>
            <input name="password" type="password" ng-model="user.password" ng-minlength="5" ng-required="true"/>
            <div ng-messages="form.password.$error" multiple md-auto-hide="false">
                <div ng-message="minlength">Please enter atleast 5 characters</div>
                <div ng-message="required">The value is required!</div>
            </div>
        </md-input-container>
        <div>
            <md-button ng-disabled="!valid(form.$error)" class="md-raised md-primary" ng-click="login()">Login</md-button>
        </div>
    </form>
</md-content>
{% end %}